﻿<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab marker_pdd_status" style="background-color: indianred; padding: 1px">
        <p style="margin: 15px 0 0 0; text-align: center; color: whitesmoke; margin: 5px">PDD Not Recorded</p>
    </div>
</div>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab marker_address_status" style="background-color: indianred; padding: 1px">
        <p style="margin: 15px 0 0 0; text-align: center; color: whitesmoke; margin: 5px">Address Details Missing</p>
    </div>
</div>
<br />
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Yes to RG Ask</strong></p>
        <p>Thank you so much [firstname] [sname], you’re amazing!</p>
        <p>We honestly couldn’t continue our vital work here at the [client_name] without your ongoing support.</p>
        <p>Annual amount example: > <strong>$<span class="auto_update_annual_amount">(Annual Amount no Calculated)</span></strong></p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Details Check</strong></p>
        <p>Now just before I get that all set up for you [firstname] [sname], I’d like to confirm the details we’ve got here for you are still correct, as we will be sending you out a welcome pack in the mail.</p>
        <p>I have you down as [firstname] [sname]; at address [address1][address2] [city] [state] [post_code] is that correct?</p>
        <p>***If objection to posting welcome pack continue below</p>
        <p>************************</p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab" style="background-color: #fff9da;">
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 5px" class="trigger_validate_amount">
                <p><strong>Amount</strong> $5 minimum</p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                    <input id="customfield7063" class="form-control field_amount" name="customfield7063" value="[amount]" type="text" />
                </div>
            </div>
            <div style="width: 50%; margin-left: 5px; margin-right: 5px" class="trigger_validate_amount_2">
                <p><strong>Arrears Amount</strong> Old RG: $[old_rg_amt] - Min Arrears: $10</p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                    <input id="customfield7192" class="form-control field_amount_2" name="customfield7192" value="[amount_2]" type="text" />
                </div>
            </div>
            <div style="width: 50%; margin-left: 5px" class="trigger_validate_payment_method">
                <p><strong>Payment Method</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <select id="customfield7064" class="form-control field_payment_method" name="customfield7064" onchange="OnPaymentOptionChange(this)">
                        <option value="none"></option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 5px" class="trigger_validate_payment_frequency">
                <p><strong>Payment Frequency:</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                    <select id="customfield7140" class="form-control field_payment_frequency_new" name="customfield7140" type="text" value="[payment_freq_new]">
                        <option value="none"></option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; margin-left: 5px; margin-right: 5px" class="trigger_validate_payment_date">
                <p><strong>Payment Dates</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    <select id="customfield7141" class="form-control field_payment_date_new" name="customfield7141" type="text" value="[payment_dates_new]">
                        <option value="none"></option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; margin-left: 5px;">
                <p><strong>Defer Payment</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-calendar-plus-o"></span></span>
                    <select id="customfield7142" class="form-control field_defered_months" name="customfield7142" type="text" value="[deferredrgstartmth]">
                        <option value="none">No Deferral</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Payment Method – Credit Card</strong></p>
        <p>Now,</p>
        <p>So that we can put your gift into action straight away, [firstname] [sname], the way we usually do this is setting up the payment to come from your Credit Card today, so one donation will be processed straight away and then it will be every <span class="auto_update_payment_dates" style="font-weight:bold">(Select Payment Date)</span> of the month moving forward.</p>
        <p>Are you happy with that?</p>
        <p>That’s no problem [firstname] [sname], we process this for you still with the payment not coming out until the <span class="auto_update_payment_dates" style="font-weight:bold">(Select Payment Date)</span> of the month.</p>
        <br />
        <p>*** If Yes proceed below</p>
        <div class="div_payment_cc_new" style="display: none">
            <br />
            <div class="marker_ps_button_rg">
                <input type="button" class="btn btn-info" value="CC NEW" style="width: 100%" />
                <input id="customfield7187" class="cs_checkbox" name="customfield7187" value="[ps_approved]" type="checkbox" />
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Payment Method – Credit Card Existing</strong></p>
        <p>Now, ....</p>
        <br />
        <p>*** If Yes proceed below</p>
        <div class="onload-noBorder div_payment_cc_existing trigger_validate_cce" style="border-style: solid; width: 500px; margin-left: auto; margin-right: auto; display: none">
            <div class="content-slab" style="background-color: #fff9da">
                <p><strong>Card Name:</strong></p>
                <input class="form-control" value="[cc_holderold_full]" type="text" readonly />
                <br />
                <p><strong>Expiry:</strong></p>
                <input id="customfield7109" class="form-control field_cce_expiry" name="customfield7109" value="[cc_expiry_old]" type="text" style="width: 200px;" />
                <br />
                <p><strong>CC Number:</strong></p>
                <input class="form-control" value="[cc_number_old]" type="text" readonly />
            </div>
        </div>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Payment Method – Direct Debit </strong></p>
        <p>Wonderful.</p>
        <p>That will be $<span class="auto_update_amount" style="font-weight:bold">(Select Amount).</span></p>
        <p>Are you happy to continue [firstname] [sname]?</p>
        <p></p>
        <p>*** Begin PDD</p>
        <div class="onload-noBorder div_payment_dd_new trigger_validate_dd" style="border-style: solid; width: 500px; margin-left: auto; margin-right: auto; display: none">
            <div class="content-slab" style="background-color: #fff9da">
                <p><strong>Account Name:</strong></p>
                <input id="customfield7059" class="form-control field_dd_name" name="customfield7059" value="[dd_acc_name]" type="text" />
                <br />
                <p><strong>BSB:</strong></p>
                <input id="customfield7057" class="form-control field_dd_bsb" name="customfield7057" value="[dd_bsb_no]" type="text" style="width: 200px;" />
                <br />
                <p><strong>Account Number:</strong></p>
                <input id="customfield7058" class="form-control field_dd_number" name="customfield7058" value="[dd_acc_no]" type="text" />
            </div>
        </div>
        <br />
    </div>
</div>
<br />
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Payment Method – Direct Debit Existing </strong></p>
        <p>Wonderful.</p>
        <p>That will be $<span class="auto_update_amount" style="font-weight:bold">(Select Amount).</span></p>
        <p>Are you happy to continue [firstname] [sname]?</p>
        <div class="onload-noBorder div_payment_dd_existing" style="border-style: solid; width: 500px; margin-left: auto; margin-right: auto; display: none">
            <div class="content-slab" style="background-color: #fff9da">
                <p><strong>Account Name:</strong></p>
                <input id="" class="form-control " name="" value="[dd_acc_name_old]" type="text" readonly />
                <br />
                <p><strong>BSB:</strong></p>
                <input id="" class="form-control " name="" value="[dd_bsb_no_old]" type="text" style="width: 200px;" readonly />
                <br />
                <p><strong>Account Number:</strong></p>
                <input id="" class="form-control " name="" value="[dd_acc_no_old]" type="text" readonly />
            </div>
        </div>
        <br />
    </div>
</div>
<br />
<div style="width: 100%; display: flex; justify-content: center;">
    <input class="btn btn-secondary" style="width: 300px; height: 40px; margin-bottom: 20px; box-shadow: #ababab 1px 1px 2px 1px;" onclick="ScrollToTop()" value="Scroll to Top" type="button" />
</div>