﻿<p><strong>Yes to RG Ask</strong></p>
<p>Thank you so much [firstname] [sname], you’re amazing!</p>
<p>We honestly couldn’t continue our vital work here at the [client_name] without your ongoing support.</p>
<p><strong>Annual Amount: </strong>$<span class="auto_update_annual_amount">(Placeholder)</span></p>
<p><strong>Amount:</strong> $<span class="auto_update_amount">(Placeholder)</span></p>
<p><strong>Payment Date: </strong><span class="auto_update_payment_date">(Placeholder)</span></p>
<p><strong>Payment Freq: </strong><span class="auto_update_payment_freq">(Placeholder)</span></p>
<p><strong>Payment Method: </strong><span class="auto_update_payment_method">(Placeholder)</span></p>
<p><strong>Deferred Months: </strong><span class="auto_update_payment_defer_number">(Placeholder)</span></p>
<p><strong>Deferred Months Full: </strong><span class="auto_update_payment_defer_full">(Placeholder)</span></p>