<div class="trigger_using_variable_display"></div>

<div class="onload-noBorder marker_variable_display marker_variable_display_default marker_variable_display_PP0120" style="border-style: solid">
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <strong>PP0120 : Default</strong>
        </div>
    </div>
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>Icebreaker</strong></p>
            <p>[firstname] [sname], I wanted to say a massive thank you for signing our petition for stronger environmental laws to protect our wildlife like our precious koalas. I’m curious as to what inspired you?</p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>Call to Action</strong></p>
            <p>[firstname] [sname], ......</p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>RG Ask - 1st</strong></p>
            <p>That’s why we are reaching out to our passionate supporters.</p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>RG Ask - 2nd</strong></p>
            <p>That’s O.K, for us it’s not about the amount.....</p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>RG Ask - 3rd</strong></p>
            <p>Just before I do let you go I do want to say a huge thank you for hearing me out today....</p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>CASH Ask - Final</strong></p>
            <p>I totally understand [firstname] [sname], .....</p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>NO to Ask</strong></p>
            <p>Ok I understand. I hope that you understand that we do have to ask everyone. On behalf of [client_name], thank you so much for your time today.</p>
            <p>It was a pleasure talking to you.</p>
            <p>Goodbye *** Terminate Call</p>
        </div>
    </div>
</div>

<div class="onload-noBorder marker_variable_display marker_variable_display_PP0121" style="border-style: solid">
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <strong>PP0121</strong>
        </div>
    </div>
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>Icebreaker</strong></p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>Call to Action</strong></p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>RG Ask - 1st</strong></p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>RG Ask - 2nd</strong></p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>RG Ask - 3rd</strong></p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>CASH Ask - Final</strong></p>
        </div>
    </div>
    <br />
    <div class="onload-noBorder" style="border-style: solid;">
        <div class="content-slab">
            <p><strong>NO to Ask</strong></p>
        </div>
    </div>
</div>

<br />
<div style="width: 100%; display: flex; justify-content: center;">
    <input class="btn btn-secondary" style="width: 300px; height: 40px; margin-bottom: 20px; box-shadow: #ababab 1px 1px 2px 1px;" onclick="ScrollToTop()" value="Scroll to Top" type="button" />
</div>
