﻿<div class="content-slab">
    <p style="width: 100%; font-size:24px; text-align:center; margin: 0;">Select Reason</p>
</div>
<br />
<br />
<div class="content-slab">
    <select id="customfield5853" class="form-control" name="customfield5853" required="">
        <option></option>
        <option class="terminate-options" style="background-color: indianred" value="NOCN">NO - NOT NOW</option>
        <option class="terminate-options" style="background-color: indianred" value="NOCE">NO - NOT EVER</option>
        <option class="terminate-options" style="background-color: mediumpurple" value="A">Answer Machine</option>
        <option class="terminate-options" style="background-color: mediumpurple" value="N">No Answer</option>
        <option class="terminate-options" style="background-color: darkorange" value="RC">Refused Call</option>
        <option class="terminate-options" style="background-color: darkorange" value="NA">Not Available</option>
        <option class="terminate-options" style="background-color: darkorange" value="WN">Wrong Number</option>
        <option class="terminate-options" style="background-color: darkorange" value="NL">No Longer At Address</option>
        <option class="terminate-options" style="background-color: slategray" value="DE">Deceased</option>
    </select>
</div>