﻿<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Call Note - read-only</strong></p>
        <textarea style="resize: none; border-radius: 4px; border: 1px solid #ccc; width: 100%; min-height: 50px; padding: 10px" name="cs_call_notes" disabled
                  placeholder="No notes have been set">{cs_call_notes}</textarea>
    </div>
</div>
<br />
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>1.1 Qualify &amp; Identify</strong></p>
        <p>Hi, am I speaking with [firstname] [sname], it's {user_first_name} calling from IVE on behalf of [client_name].</p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>1.2 Greeting, QA Statement &amp; Acknowledgement of Concern</strong></p>
        <p>It’s a quick call today, and it may be monitored or recorded for training and quality purposes.</p>
    </div>
</div>