﻿<div class="trigger_using_variable_display_dec"> </div>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab marker_pdd_status" style="background-color: indianred; padding: 1px;">
        <p style="margin: 5px; text-align: center; color: whitesmoke;">PDD Not Recorded</p>
        <input id="customfield9138" class="cs_checkbox field_validated_pdd" name="customfield9138" style="display: none;" value="[var_validated_pdd]" type="checkbox" />
    </div>
</div>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab marker_address_status" style="background-color: indianred; padding: 1px;">
        <p style="margin: 5px; text-align: center; color: whitesmoke;">Address Details Missing</p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Yes to RG</strong></p>
        <p>Thank you so much [firstname] [sname], you’re amazing! We honestly couldn’t continue our vital work here at the [client_name] without your ongoing support.</p>
        <p><strong>*** Continue to Arrears Ask if applicable - If full new Credit Card details collected OR:</strong></p>
        <p><strong>*** Proceed to Details Check</strong></p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Cash Arrears Ask (Full new CC details collected ONLY)</strong></p>
        <p>[firstname] [sname], because the last payment was missed are you happy for us to process this again?</p>
        <p style="color: indianred;">****NOTE (Old RG will populate in arrears amount and cannot be changed as client processes the missed payment old amount)</p>
        <br />
        <p><strong>*** If Yes to Cash Arrears:</strong></p>
        <p>Excellent, now we can process this payment for you today and provide you with a receipt number, then your regular donation will come out as normal on the <strong><span class="auto_update_payment_date">(Payment Date)</span></strong> of the month. Does this sound like something you would like to do?</p>
        <p><strong>*** If Yes to Process today:</strong></p>
        <p>Process Payment through Payment Gateway, Supply Receipt # &amp; Proceed to Details Check</p>
        <p><strong>*** In No to Process today:</strong></p>
        <p>That’s ok, we can still process it so your payment will come out on your next debit date which is the <strong><span class="auto_update_payment_date">(Payment Date)</span></strong> of the month, would this be ok?</p>
        <p><strong>*** If No to Cash Arrears:</strong></p>
        <p>Ok I understand, I hope you understand that we do have to ask everyone</p>
        <p><strong>*** For Yes and No:</strong></p>
        <p>Proceed to Details Check</p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder marker_variable_display_dec marker_variable_display_dec_Soft" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Details Check - SOFT DECLINE </strong></p>
        <p>Thank you again [firstname] [sname]. Now as you are an existing regular giver the next gift of [old_rg_amt] will come out as per usual on a <strong><span class="auto_update_payment_freq">(Payment Freq)</span></strong> basis.</p>
        <p>However, before I finalize this for you [firstname] [sname], can I please confirm your details?</p>
        <p>I have you down as [firstname] [sname] at address [address1][address2] [city] [state] [post_code] is that correct?</p>
        <p><strong>*** Update Details if required</strong></p>
        <p><strong>*** Proceed to Final RG &amp; Cash Check and Close</strong></p>
    </div>
</div>
<div class="onload-noBorder marker_variable_display_dec marker_variable_display_dec_Hard" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Details Check - HARD DECLINE</strong></p>
        <p>Thank you again [firstname] [sname]. Now I will get that all set up for you [firstname] [sname], can I please confirm your details?</p>
        <p>I have you down as [firstname] [sname] at address [address1][address2] [city] [state] [post_code] is that correct?</p>
        <p><strong>***Caller Interaction: Update Details if required</strong></p>
        <p>Ok so I’ll get that all set up for you now [firstname] [sname].</p>
        <p>Now, we can either set that up using a credit card or a direct debit, which would you prefer [firstname] [sname]. We can accept Visa, Mastercard or Amex, if using card.</p>
        <p><strong>*** If Card: Proceed to Credit Card Payment Section</strong></p>
        <p><strong>*** If Direct Debit: Proceed to Direct Debit Payment Section</strong></p>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab" style="background-color: #fff9da;">
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 5px;">
                <p><strong>Gift Amount</strong> $10 minimum</p>
                <div class="input-group" style="width: 100%;"><span class="input-group-addon"><span class="fa fa-usd"></span></span> <input id="customfield9033" class="form-control field_amount_rg" name="customfield9033" value="[amount]" type="text" /></div>
            </div>
            <div style="width: 50%; margin-right: 5px;">
                <p><strong>Arrears Amount</strong> $0 or $[old_rg_amt]</p>
                <div class="input-group" style="width: 100%;"><span class="input-group-addon"><span class="fa fa-usd"></span></span> <input id="customfield9162" class="form-control field_amount_2" name="customfield9162" value="[amount_2]" type="text" /></div>
            </div>
            <div style="width: 50%; margin-left: 5px;">
                <p><strong>Payment Method</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span><select id="customfield9034" class="form-control field_payment_method" name="customfield9034" onchange="OnValidatePaymentMethod(this, false)">
                        <option value="none"></option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 5px;">
                <p><strong>Payment Frequency:</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span><select id="customfield9110" class="form-control field_payment_frequency_new" name="customfield9110" onchange="OnValidateFrequency(this, false)">
                        <option value="none"></option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; margin-left: 5px;">
                <p><strong>Payment Dates</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span><select id="customfield9111" class="form-control field_payment_date_new" name="customfield9111" onchange="OnValidatePaymentDate(this, false)">
                        <option value="none"></option>
                    </select>
                </div>
            </div>
            <div style="width: 50%; margin-left: 5px;">
                <p><strong>Defer Payment</strong></p>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon"><span class="fa fa-calendar-plus-o"></span></span><select id="customfield9112" class="form-control field_defered_months" name="customfield9112" onchange="OnValidatePaymentDeferral(this, false)">
                        <option value="none">No Deferral</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Payment Method – Credit Card</strong></p>
        <p>Wonderful, so do you have a middle name or initial on your card?</p>
        <p>Ok thank you [firstname] [sname] and now just the 16 numbers across the front of the card when you’re ready please, and the expiry month and year also?</p>
        <p><strong>*** OH – As I can only confirm first &amp; last 4 digits, to help ensure your details are correct and your RG payment will transact, it would be great if you could read out the full Credit Card number</strong></p>
        <p><strong>*** Caller Interaction: Add CC Payment Details and Proceed to Final RG &amp; Cash Check</strong></p>
        <br />
        <div class="div_payment_cc" style="display: none;">
            <div class="marker_ps_button_rg"><br /> <input class="btn btn-info" style="width: 100%;" onclick="LoadPayshieldRG(this)" value="Process Credit Card" type="button" /> <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#declinesPaymentModalCC">Process Payment</button></div>
        </div>
        <div class="onload-noBorder div_payment_cce" style="border-style: solid; width: 500px; margin-left: auto; margin-right: auto; display: none;">
            <div class="content-slab" style="background-color: #fff9da;">
                <p><strong>Card Name:</strong></p>
                <input class="form-control" value="[cc_holderold_full]" type="text" disabled="disabled" /> <br />
                <p><strong>Card Expiry:</strong></p>
                <input id="customfield9079" class="form-control field_cc_expiry_old" name="customfield9079" style="width: 200px;" value="[cc_expiry_old]" type="text" /> <br />
                <p><strong>Card Number:</strong></p>
                <input class="form-control" value="[cc_number_old]" type="text" disabled="disabled" />
            </div>
        </div>
    </div>
</div>
<!-- Payment Option Modal -->
<div id="declinesPaymentModalCC" class="modal fade onload-noBorder" style="border-style: solid;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Choose Payment Option</h4>
            </div>
            <div class="modal-body" style="display: flex; justify-content: space-evenly;">
                <div style="width: 200px;">
                    <input class="btn btn-primary" style="width: 100%;" onclick="LoadPayshieldDeclines()" value="Standard" type="button" />
                    <p>For regular gifts, and or arrears pay later.</p>
                </div>
                <div style="width: 200px;">
                    <input class="btn btn-primary" style="width: 100%;" onclick="LoadPayshieldDeclinesMW()" value="Instant" type="button" />
                    <p>For regular gifts, and or arrears payed immediately(Merchant Warrior).</p>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>
<p> </p>
<div class="onload-noBorder" style="border-style: solid;">
    <div class="content-slab">
        <p><strong>Payment Method – Direct Debit </strong></p>
        <p>Wonderful.</p>
        <p>So that I can set this up for you, I will need to take a few details for the direct debit from your bank account. I will need your account number and BSB number for example - do you have them on hand or would you like to go and get them? You will find them on your cheque book, bank statements or if you have a debit card they are printed there.</p>
        <br />
        <p>Firstly, can I please take the BSB NUMBER?</p>
        <p>And the name of your bank?</p>
        <p>And your account number?</p>
        <p>And is the account in your name or is it a joint account?</p>
        <br />
        <p>And just to confirm, your new <strong><span class="auto_update_payment_freq">(Payment Fre)</span></strong> gift of <strong>$<span class="auto_update_amount">(Placeholder)</span></strong> will be deducted around the <strong><span class="auto_update_payment_date">(Payment Date)</span></strong> of each month.</p>
        <p>That’s great, thanks - so that we can put your money to work straight away, I need you to confirm that you are happy with these details and to give the go ahead for your generous donation to start. To make your payments safe and secure, I will need to record your acceptance of this agreement, I will ask you to confirm details so when asked please respond nice and clearly with ‘YES’.</p>
        <p>Are you happy to continue [firstname] [sname]?</p>
        <p> </p>
        <p>*** Begin PDD</p>
        <p>*** If asked why: The reason why we action this all over the telephone is that it really does save us a lot in administration costs and of course the cost of despatching and processing the paperwork. You’re protected by the banks’ direct debit guarantee and we just have to send you the confirmation, so more of your donation goes straight to the cause.</p>
        <br />
        <div class="onload-noBorder div_payment_dd trigger_validate_dd" style="border-style: solid; width: 500px; margin-left: auto; margin-right: auto; display: none;">
            <div class="content-slab" style="background-color: #fff9da;">
                <p><strong>Account Name:</strong></p>
                <input id="customfield9029" class="form-control field_dd_name" name="customfield9029" value="[dd_acc_name]" type="text" /> <br />
                <p><strong>BSB:</strong></p>
                <input id="customfield9027" class="form-control field_dd_bsb" name="customfield9027" style="width: 200px;" value="[dd_bsb_no]" type="text" /> <br />
                <p><strong>Account Number:</strong></p>
                <input id="customfield9028" class="form-control field_dd_number" name="customfield9028" value="[dd_acc_no]" type="text" />
            </div>
        </div>
        <div class="onload-noBorder div_payment_dde" style="border-style: solid; width: 500px; margin-left: auto; margin-right: auto; display: none;">
            <div class="content-slab" style="background-color: #fff9da;">
                <p><strong>Account Name:</strong></p>
                <input class="form-control" value="[dd_acc_name_old]" type="text" disabled="disabled" /> <br />
                <p><strong>BSB:</strong></p>
                <input class="form-control" style="width: 200px;" value="[dd_bsb_no_old]" type="text" disabled="disabled" /> <br />
                <p><strong>Account Number:</strong></p>
                <input class="form-control" value="[dd_acc_no_old]" type="text" disabled="disabled" />
            </div>
        </div>
    </div>
</div>
<p> </p>
<div style="width: 100%; display: flex; justify-content: center;"><input class="btn btn-secondary" style="width: 300px; height: 40px; margin-bottom: 20px; box-shadow: #ababab 1px 1px 2px 1px;" onclick="ScrollToTop()" value="Scroll to Top" type="button" /></div>