﻿<div class="onload-hide" style="border-style: solid;">
    <p><strong>Data - Variables</strong></p>
    <br />
    <input id="customfield7334" class="cs_checkbox field_validated_dd" name="customfield7334" value="[var_validated_dd]" type="checkbox" /><span>Validated DD</span>
    <br />
    <input id="customfield7333" class="cs_checkbox field_validated_amount" name="customfield7333" value="[var_validated_amount]" type="checkbox" /><span>Validated Amount</span>
    <br />
    <input id="customfield7340" class="cs_checkbox field_validated_date" name="customfield7340" value="[var_validated_date]" type="checkbox" /><span>Validated Date</span>
    <br />
    <input id="customfield7341" class="cs_checkbox field_validated_freq" name="customfield7341" value="[var_validated_freq]" type="checkbox" /><span>Validated Frequency</span>
    <br />
    <input id="customfield7338" class="cs_checkbox field_validated_address" name="customfield7338" value="[var_validated_address]" type="checkbox" /><span>Validated Address</span>
    <br />
    <input id="customfield7336" class="cs_checkbox field_validated_cce" name="customfield7336" value="[var_validated_cce]" type="checkbox" /><span>Validated CCE</span>
    <br />
    <span class="label_segment">[segment]</span>
    <br />
    <span class="label_payment_date">[payment_dates]</span>
    <br />
    <span class="label_payment_date_new">[payment_dates_new]</span>
    <br />
    <span class="label_payment_frequency">[payment_frequency]</span>
    <br />
    <span class="label_payment_frequency_new">[payment_freq_new]</span>
    <br />
    <span class="label_payment_method">[payment_method]</span>
    <br />
    <span class="label_donor_title">[title]</span>
    <br />
    <span class="field_validated_pdd">[var_validated_pdd]</span>
    <br />
    <span class="label_defered_months">[deferredrgstartmth]</span>
    <br />
    <span class="label_payment_method_old">[rg_pmt_method]</span>
    <br />
    <span class="label_old_rg_amount">[old_rg_amt]</span>
</div>
<p> </p>
<div class="onload-hide" style="border-style: solid;">
    <p><strong>Non Data - Variables</strong></p>
    <br /> <span><strong>Payment Option Style: </strong><span class="option_payment_style">standard_upgrade</span></span>
    <ul>
        <li>standard_upgrade: only new CC, CCE, or DDE</li>
    </ul>
    <br /> <span><strong>Min RG: </strong><span class="option_min_rg">5</span></span>
    <p>no $ symbol</p>
    <br /> <span><strong>Min Cash: </strong><span class="option_min_cash">15</span></span>
    <p>no $ symbol</p>
    <br /> <span><strong>Payment Dates: </strong><span class="option_payment_dates_available">1st;3rd;21st</span></span>
    <p>*separate dates by ;</p>
    <br /> <span><strong>Payment Dates Can Change: </strong><span class="option_payment_dates_changeable">YES</span></span>
    <p>*YES if can</p>
    <br /> <span><strong>Payment Frequencies: </strong><span class="option_payment_frequencies_available">Monthly;Four-Weekly</span></span>
    <p>*separate dates by ;</p>
    <br /> <span><strong>Payment Frequency Can Change: </strong><span class="option_payment_frequency_changeable">YES</span></span>
    <p>*YES if can</p>
    <br /> <span><strong>Deferral Can Change: </strong><span class="option_deferral_changeable">YES</span></span>
    <p>*YES if can</p>
    <br /> <span><strong>Max Deferral Months: </strong><span class="option_deferral_months">1</span></span>
    <p>*1 min</p>
</div>