﻿<div class="onload-hide" style="border-style: solid;">
    <table>
        <tbody>
            <tr>
                <td><strong>Setting</strong></td>
                <td><strong>Value</strong></td>
            </tr>
            <tr>
                <td>Validated DD</td>
                <td><input id="customfield7835" class="cs_checkbox field_validated_dd" name="customfield7835" value="[var_validated_dd]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Validated Amount</td>
                <td><input id="customfield7834" class="cs_checkbox field_validated_amount" name="customfield7834" value="[var_validated_amount]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Validated Date</td>
                <td><input id="customfield7839" class="cs_checkbox field_validated_date" name="customfield7839" value="[var_validated_date]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Validated Frequency</td>
                <td><input id="customfield7840" class="cs_checkbox field_validated_freq" name="customfield7840" value="[var_validated_freq]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Validated Address</td>
                <td><input id="customfield7838" class="cs_checkbox field_validated_address" name="customfield7838" value="[var_validated_address]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Validated CCE</td>
                <td><input id="customfield7836" class="cs_checkbox field_validated_cce" name="customfield7836" value="[var_validated_cce]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Validated AADF</td>
                <td><input id="customfield7856" class="cs_checkbox field_validated_AADF" name="customfield7856" value="[var_validated_AADF]" type="checkbox" /></td>
            </tr>
            <tr>
                <td>Var Annual Amount</td>
                <td><input id="customfield7853" class="form-control field_annual_amount" name="customfield7853" value="[var_annual_amount]" type="text" /></td>
            </tr>
            <tr>
                <td>Segment</td>
                <td class="label_segment">[segment]</td>
            </tr>
            <tr>
                <td>Payment Dates Old</td>
                <td class="label_payment_date">[payment_dates]</td>
            </tr>
            <tr>
                <td>Payment Dates New</td>
                <td class="label_payment_date_new">[payment_dates_new]</td>
            </tr>
            <tr>
                <td>Payment Frequency Old</td>
                <td class="label_payment_frequency">[payment_frequency]</td>
            </tr>
            <tr>
                <td>Payment Frequency New</td>
                <td class="label_payment_frequency_new">[payment_freq_new]</td>
            </tr>
            <tr>
                <td>Payment Method</td>
                <td class="label_payment_method">[payment_method]</td>
            <tr>
                <td>Donor Title</td>
                <td class="label_donor_title">[title]</td>
            <tr>
                <td>Validated PDD</td>
                <td class="label_validated_pdd">[var_validated_pdd]</td>
            </tr>
            <tr>
                <td>Deferred Start Month</td>
                <td class="label_defered_months">[deferredrgstartmth]</td>
            </tr>
            <tr>
                <td>CMP Spec 6 - Hard/Soft</td>
                <td class="label_cmp_spec_6">[cmp_spec_6]</td>
            </tr>
            <tr>
                <td>Old RG Amount</td>
                <td class="label_old_rg">[old_rg_amt]</td>
            </tr>
            <tr>
                <td>Record ID</td>
                <td class="label_record_id">[record_id]</td>
            </tr>
            <tr>
                <td>SYS Call ID</td>
                <td class="label_call_id">{call_id}</td>
            </tr>
            <tr>
                <td>Payment Method Old</td>
                <td class="label_payment_method_old">[rg_pmt_method]</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="onload-hide" style="border-style: solid;">
    <table>
        <tbody>
            <tr>
                <td><strong>Setting</strong></td>
                <td><strong>Value</strong></td>
            </tr>
            <tr>
                <td>Pay-shield Instance Name</td>
                <td class="option_ps_instance">ivevaultSE04006</td>
            </tr>
            <tr>
                <td>Client Website</td>
                <td class="option_client_webiste">https://www.redcross.org.au/get-involved</td>
            </tr>
            <tr>
                <td>Address Required</td>
                <td class="option_address_required">1</td>
            </tr>
            <tr>
                <td>Min RG $</td>
                <td class="option_min_rg">10</td>
            </tr>
            <tr>
                <td>Min Cash</td>
                <td class="option_min_cash">10</td>
            </tr>
            <tr>
                <td>Min Arrears</td>
                <td class="option_min_arrears">15</td>
            </tr>
            <tr>
                <td>Payment Options - Must Change Value in HTML</td>
                <td>
                    <select class="option_payment_option_style">
                        <optgroup label="Conversion">
                            <option value="CON-Standard">Standard - New Only</option>
                        </optgroup>
                        <optgroup label="Reatcivationt">
                            <option value="RCT-Standard">React - New Only</option>
                            <option value="RCT-Existing" selected>React - New and Existing</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Payment Frequency - separated by ;</td>
                <td class="option_payment_frequencies_available">4 Weekly</td>
            </tr>
            <tr>
                <td>Payment Dates - separated by ;</td>
                <td class="option_payment_dates_available">Monday;Tuesday;Wednesday;Thursday;Friday</td>
            </tr>
            <tr>
                <td>Deferral Months Allowed</td>
                <td class="option_deferral_months">0</td>
            </tr>
            <tr>
                <td>Payment Frequency Can Change - Existing Donors</td>
                <td class="option_payment_frequency_changeable">1</td>
            </tr>
            <tr>
                <td>Payment Dates Can Change - Existing Donors</td>
                <td class="option_payment_dates_changeable">1</td>
            </tr>
            <tr>
                <td>Deferral Can Change - Existing Donors</td>
                <td class="option_deferral_changeable">1</td>
            </tr>
            <tr>
                <td>PDD Required - On New</td>
                <td class="option_ppd_required_on_new">1</td>
            </tr>
        </tbody>
    </table>
</div>